cypress/screenshots/examples/slingShothealth/myFirstTest.spec.js/my first test -- log in as a provider (failed).png
cypress/screenshots/examples/slingShothealth/myFirstTest.spec.js/my first test -- log in as a provider (failed).png
cypress/screenshots/examples/slingShothealth/myFirstTest.spec.js/my first test -- place a request (failed).png
cypress/screenshots/examples/slingShothealth/signUpPatient.spec.js/Sign Up Patient -- Sign Up new Patient (failed).png
cypress/videos/examples/slingShothealth/footerLinks.spec.js.mp4
cypress/videos/examples/slingShothealth/myFirstTest.spec.js.mp4
cypress/videos/examples/slingShothealth/signUpPatient.spec.js.mp4
mochawesome-report/mochawesome.html
mochawesome-report/mochawesome.json
cypress/screenshots/examples/slingShothealth/myFirstTest.spec.js/my first test -- log in as a provider (failed).png


cypress/videos/examples/slingShothealth/passwordRest.spec.js.mp4
cypress/videos/examples/Test3.spec.js.mp4
cypress/videos/examples/Test8Framework.spec.js.mp4
cypress/videos/examples/slingShothealth/sample-spec.js.mp4
cypress/screenshots/examples/slingShothealth/sample-spec.js/site search -- search some thing (failed).png
mochawesome-report/mochawesome.html
mochawesome-report/mochawesome.json
